<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

<!-- Include the jQuery library -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{#<script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>#}
<!-- Include the jQuery Mobile library -->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
{#<script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>#}


{#  Testing adding of new stylesheet to see conflict
 http://jsbin.com/zovuyigosu/edit?html,output
 #}
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/git/jquery.mobile-git.css" />
  <link rel="stylesheet" href="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.css" />

{#  Testing adding of new js scripts to see conflict
 http://jsbin.com/zovuyigosu/edit?html,output
 #}
{#  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
  <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
{#  <script src="http://code.jquery.com/mobile/git/jquery.mobile-git.js"></script>#}
  <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>

    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
{% block endScripts %}
{% endblock %}
</html>
{% endautoescape %}