<!doctype html>
{% extends "Base.html" %}
{% autoescape true %}
<html lang="en">

{% block b1 %}
{#<head>#}
{##}
{#<!-- Include meta tag to ensure proper rendering and touch zooming -->#}
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#<!-- Include jQuery Mobile stylesheets -->#}
{#<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">#}
{##}
{#<!-- Include the jQuery library -->#}
{#<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>#}
{##}
{#<!-- Include the jQuery Mobile library -->#}
{#<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>#}
{##}
{#</head>#}
{#<div data-role="page" id="headerpage">#}
<div data-role="header">
  <div data-role="navbar">
    <ul>
      <li><a href="/chapati">Chapati</a></li>
      <li><a href="/stock">Stock</a></li>
      <li><a href="/sales">Sales</a></li>
      <li><a href="{{ logout_url }}">Log Out</a></li>
{#        <button type="button"><a href="/logout">Log Out</a></button>#}
    </ul>

  </div>


</div>
{#</div>#}

{% endblock %}


</html>
{% endautoescape %}