<!doctype html>
{% extends "Base.html" %}
{% autoescape true %}

{% block b1 %}
    <html>

<html lang="en">

<div data-role="header">
  <div data-role="navbar">
    <ul>
      <li><a href="/chapati" data-ajax="false">Chapati</a></li>
      <li><a href="/stock" data-ajax="false">Stock</a></li>
      <li><a href="/sales" data-ajax="false">Sales</a></li>
      <li><a href="{{ logout_url }}" data-ajax="false">Log Out</a></li>
    </ul>
  </div>
</div>

<body>


<div data-role="main" class="ui-content">
    <form action="/sales" method="post">

      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Choose Item Type:</legend>
          <label for="red">Chapati</label>
          <input type="radio" name="item" id="red" value="chapati" checked>
{#          <label for="green">Poori</label>#}
{#          <input type="radio" name="item" id="green" value="poori" hidden>#}
      </fieldset>
    <legend>Date [dd-mm-yyyy] : </legend>
        <div data-role="controlgroup" data-type="horizontal">
            <input type="text" id="date-input" data-inline="true" data-role="date" data-date-format="dd-mm-yy" name = "saledate">
            <input type="submit" data-inline="true" value= "Get Sales Data">
        </div><!-- /content -->
    </form>
</div>


</body>

{% endblock %}

</html>
{% endautoescape %}