<!DOCTYPE html>
{% extends "Base.html" %}
{% autoescape true %}

{% block b1 %}

<html>
{#<head>#}
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">#}
{#<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>#}
{#<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>#}
{#</head>#}
<body>

<div data-role="header">
  <div data-role="navbar">
    <ul>
      <li><a href="/chapati" data-ajax="false">Chapati</a></li>
      <li><a href="/stock" data-ajax="false">Stock</a></li>
      <li><a href="/sales" data-ajax="false">Sales</a></li>
      <li><a href="{{ logout_url }}" data-ajax="false">Log Out</a></li>
    </ul>
  </div>
</div>

  <div data-role="main" class="ui-content">
    <form action="/add_chapati" method="post">
            <fieldset data-role="controlgroup" data-type="horizontal">

        <label for="male">ADD</label>
        <input type="radio" name="calc" id="male" value="add">
        <label for="female">REMOVE</label>
        <input type="radio" name="calc" id="female" value="remove" checked>
      </fieldset>

      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Choose Package Type:</legend>
          <label for="red">10 Chapatis</label>
          <input type="radio" name="package" id="red" value="chapati10" checked>
          <label for="green">20 Chapatis</label>
          <input type="radio" name="package" id="green" value="chapati20">
          <label for="blue">25 Chapatis</label>
          <input type="radio" name="package" id="blue" value="chapati25">
      </fieldset>
<legend>Number of packages:</legend>
        <div data-role="controlgroup" data-type="horizontal">
            <input type="number" pattern="\d*" name="quantity" min="1">
            <input type="submit" data-inline="true" value="Submit">
        </div>
    </form>
  </div>

</body>
{% endblock %}
</html>
{% endautoescape %}