<!--<div class="partial">-->
<!--<h2>Favorites displayed here</h2>-->
<!--<div ng-repeat="song in favorites | orderBy:'title' | orderBy:'artist'">-->
  <!--<button ng-click="unlike(song)">unlike</button>-->
  <!--{{ $index + 1 }}. <b>{{ song.title }} {{ song.artist }} {{song.id}}</b>-->
<!--</div>-->

<!--</div>-->


<div class="partial">
  <div class="partial-siderbar">


  </div>

  <div class="partial-content">

    <div class="page-header">
      <h1>Library<br><small></small></h1>
    </div>

    <!--<div>-->
        <!--<div class="row">-->

          <!--<div class="listHeading">-->
            <!--<div class="col-md-1 "><div class="hiddenCell">IMG</div></div>-->
              <!--<div class="col-md-5 ">Song ===========================================</div>-->
            <!--<div class="col-md-5 ">Artist</div>-->
            <!--<div class="col-md-1 "></div>-->
          <!--</div>-->

      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;<button ng-click="invite()">Invite another guest</button>&ndash;&gt;-->

    <!--<div ng-repeat="song in favorites | orderBy:'title' | orderBy:'artist'">-->
      <!--<div class="row">-->
        <!--<div id="listData">-->
            <!--<div class="col-xs-1 col-md-1"><img src="../images/itunes.png" width="50" height="30"></div>-->
            <!--<div class="col-xs-1 col-md-5">{{ song.title }}</div>-->
            <!--<div class="col-xs-1 col-md-5">{{ song.artist }}</div>-->
            <!--<div class="col-xs-1 col-md-1">-->
              <!--<button ng-click="unlike(song)">-</button>-->
            <!--</div>-->
        <!--</div>-->


      <!--</div>-->


      <!--<button ng-click="like(song)">+</button>-->
      <!--{{ $index + 1 }}. <b>{{ song.title }} {{ song.artist }} </b>-->
    </div>

  </div>


</div>





</div>

