<div class="partial">
  <div class="partial-siderbar">


  </div>

  <div class="partial-content">

    <div class="page-header">
      <h1>For You<br><small>All new songs. All in one place.</small></h1>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">Song</div>
      <div class="col-md-5">Artist</div>
      <div class="col-md-1"></div>
    </div>

    <!--<button ng-click="invite()">Invite another guest</button>-->

    <div ng-repeat="song in songs | orderBy:'title' | orderBy:'artist'">
      <div class="row">
        <div class="col-md-1">{{ $index + 1 }}</div>
        <div class="col-md-5">{{ song.title }}</div>
        <div class="col-md-5">{{ song.artist }}</div>
        <div class="col-md-1">
          <button ng-click="like(song)">+</button>
        </div>

      </div>

    </div>

  </div>


</div>





</div>

